<!--
 * @Descripttion: 
 * @version: 
 * @Author: Leo
 * @Date: 2024-11-29 17:20:28
 * @LastEditors: Leo
 * @LastEditTime: 2024-12-06 23:54:56
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>评师社区</title>
    </head>
    <body>
        <h1>欢迎来到评师社区</h1>
        <a href="{{ url_for('student_login') }}">学生登录</a>
        <a href="{{ url_for('teacher_login') }}">教师登录</a>
        <a href="{{ url_for('admin_login') }}">管理员登录</a>
        <!-- <a href="/register">学生注册</a> -->
    </body>
</html>